<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
	<meta charset="UTF-8">
	<title>冻梨二货</title>
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/font-awesome-4.7.0/css/font-awesome.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/register.css}"/>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
	<body>
	<div style="height: 5px"></div>
	<div class="title">
		<span class="title-logo">冻梨二货</span>
		<div class="second_title">
			<div class="nav dropdown nav1">
				<span style="width: 10px">|</span>
				<a class="btn btn-link"  href="user_center.html" >用户中心</a>
			</div>
			<div class="nav nav1">
				<a class="btn btn-link"  href="index" >首页</a>
			</div>
		</div>
	</div>
	<div style="height: 10px"></div>
	<!--主体-->
	<div class="container">
		<div class="col-md-2">
			<!--左侧导航开始-->
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<!--主选项：我的订单-->
						<p class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">售货管理</a>
						</p>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">
							<div><a href="orders">我的订单</a></div>
							<div><a href="releases">我的出售</a></div>

						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<!--主选项：资料修改-->
						<p class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">资料修改</a>
						</p>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse in">
						<div class="panel-body">
							<div><a href="user_center"><b>个人资料</b></a></div>
							<div><a href="password">修改密码</a></div>
							<div><a href="upload">上传头像</a></div>
							<div><a href="address">收货管理</a></div>
							<div><a href="release_goods">商品发布</a></div>
						</div>
					</div>
				</div>
			</div>
			<!--左侧导航结束-->
		</div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<ul class="nav nav-tabs">
					<li><a href="user_center">个人资料</a></li>
					<li><a href="password">修改密码</a></li>
					<li><a href="upload">上传头像</a></li>
					<li class="active"><a href="#">收货管理</a></li>
					<li><a href="release_goods">商品发布</a></li>
				</ul>
				<div class="panel-body">
					<!--新增收货地址表单开始-->
					<form id="form-addnew" class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-md-2 control-label"><span class="txtred">*</span>收货人：</label>
							<div class="col-md-8">
								<input name="name" type="text" class="form-control" placeholder="请输入收货人姓名">
							</div>
						</div>
						<div class="address_content" data-toggle="distpicker">
							<div class="form-group">
								<label class="col-md-2 control-label"><span class="txtred">*</span>省/直辖市：</label>
								<div class="col-md-3">
									<select name="provinceCode" class="form-control" data-province="---- 选择省 ----" id="province-list"></select>
								</div>
								<label class="col-md-2 control-label"><span class="txtred">*</span>城市：</label>
								<div class="col-md-3">
									<select name="cityCode" class="form-control" data-city="---- 选择市 ----" id="city-list"></select>
								</div>
							</div>
							<div class="form-group ">
								<label class="col-md-2 control-label"><span class="txtred">*</span>区县：</label>
								<div class="col-md-3">
									<select name="areaCode" class="form-control" data-district="---- 选择区 ----" id="area-list"></select>
								</div>
								<label class="col-md-2 control-label">邮政编码：</label>
								<div class="col-md-3">
									<input name="zip" type="text" class="form-control" placeholder="请输入邮政编码">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"><span class="txtred">*</span>详细地址：</label>
							<div class="col-md-8">
								<textarea name="address" class="form-control" rows="3" placeholder="输入详细的收货地址，小区名称、门牌号等"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"><span class="txtred">*</span>手机：</label>
							<div class="col-md-3">
								<input name="phone" type="text" class="form-control" placeholder="请输入手机号码">
							</div>
							<label class="col-md-2 control-label">固话：</label>
							<div class="col-md-3">
								<input name="tel"  type="text" class="form-control" placeholder="请输入固定电话号码">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">地址类型：</label>
							<div class="col-md-8">
								<input name="tag" type="text" class="form-control" placeholder="请输入地址类型，如：家、公司或者学校">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"><a href="address">返回</a>&nbsp;&nbsp;&nbsp;</label>
							<div class="col-sm-10">
								<input  id="btn-addnew" type="button" class="col-md-1 btn btn-primary" value="保存" />
								<input type="reset" class="col-md-offset-1 col-md-1 btn btn-primary" value="重置" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--页脚开始-->
	<footer>
		<div class="text-center rights container">
			<div class="col-md-offset-2 col-md-2">
				<span class="fa fa-thumbs-o-up"></span>
				<p>品质保障</p>
			</div>
			<div class="col-md-2">
				<span class="fa fa-address-card-o"></span>
				<p>私人订制</p>
			</div>
			<div class="col-md-2">
				<span class="fa fa-graduation-cap"></span>
				<p>学生特供</p>
			</div>
			<div class="col-md-2">
				<span class="fa fa-bitcoin"></span>
				<p>专属特权</p>
			</div>
		</div>
	</footer>
	<div class="foot">
		<div style="height: 183px">
			<img src="imgs/foot.png">
		</div>
		<span class="foot-p">来冻梨二货，你的闲置能换钱！</span><br>
		<span class="foot-s">全校最大最活跃的闲置物品交换平台</span>
	</div>
	<address>
		Written by <a href="#">Liujian</a>.<br>
		Visit us at:<br>
		East China University<br>
		tel：151×××××××49
	</address>


	<script src="js/addAddress.js"></script>
	</body>

</html>