<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
	<meta charset="UTF-8">
	<title>冻梨二货</title>
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/font-awesome-4.7.0/css/font-awesome.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/register.css}"/>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
	<body>
	<div style="height: 5px"></div>
	<div class="title">
		<span class="title-logo">冻梨二货</span>
		<div class="second_title">
			<div class="nav dropdown nav1">
				<span style="width: 10px">|</span>
				<a class="btn btn-link"  href="user_center.html" >用户中心</a>
			</div>
			<div class="nav nav1">
				<a class="btn btn-link"  href="index" >首页</a>
				<span style="width: 10px">|</span>
				<a class="btn btn-link"  href="index.html" >求购商城</a>
			</div>
		</div>
	</div>
	<div style="height: 10px"></div>
	<!--主体-->
	<div class="container">
		<div class="col-md-2">
			<!--左侧导航开始-->
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<!--主选项：我的订单-->
						<p class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">售货管理</a>
						</p>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">
							<div><a href="orders">我的订单</a></div>
							<div><a href="releases">我的出售</a></div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<!--主选项：资料修改-->
						<p class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">资料修改</a>
						</p>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse in">
						<div class="panel-body">
							<div><a href="user_center"><b>个人资料</b></a></div>
							<div><a href="password">修改密码</a></div>
							<div><a href="upload">上传头像</a></div>
							<div><a href="address">收货管理</a></div>
							<div><a href="release_goods">商品发布</a></div>
						</div>
					</div>
				</div>
			</div>
			<!--左侧导航结束-->
		</div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<ul class="nav nav-tabs">
					<li><a href="user_center">个人资料</a></li>
					<li><a href="password">修改密码</a></li>
					<li><a href="upload">上传头像</a></li>
					<li class="active"><a href="#">收货管理</a></li>
					<li><a href="release_goods">商品发布</a></li>
				</ul>
				<div class="panel-body">
					<!--地址显示-->
					<table class="table table-striped">
						<caption>收货地址列表</caption>
						<thead>
						<tr>
							<th>地址类型</th>
							<th>收货人姓名</th>
							<th>详细地址</th>
							<th>联系电话</th>
							<th colspan="3">操作</th>
						</tr>
						</thead>
						<tbody id="address-list">
						<tr>
							<td>家</td>
							<td>八戒1</td>
							<td>北京市房山区高老庄3排6号</td>
							<td>1380***1234</td>
							<td><a class="btn btn-xs btn-info"><span class="fa fa-edit"></span> 修改</a></td>
							<td><a class="btn btn-xs add-del btn-info"><span class="fa fa-trash-o"></span> 删除</a></td>
							<td><a class="btn btn-xs add-def btn-default">设为默认</a></td>
						</tr>
						<tr>
							<td>家</td>
							<td>八戒2</td>
							<td>北京市房山区高老庄3排6号</td>
							<td>1380***1234</td>
							<td><a class="btn btn-xs btn-info"><span class="fa fa-edit"></span> 修改</a></td>
							<td><a class="btn btn-xs add-del btn-info"><span class="fa fa-trash-o"></span> 删除</a></td>
							<td><a class="btn btn-xs add-def btn-default">设为默认</a></td>
						</tr>
						<tr>
							<td>公司</td>
							<td>八戒3</td>
							<td>北京市海淀区中关村中路1号1001室</td>
							<td>1380***1234</td>
							<td><a class="btn btn-xs btn-info"><span class="fa fa-edit"></span> 修改</a></td>
							<td><a class="btn btn-xs add-del btn-info"><span class="fa fa-trash-o"></span> 删除</a></td>
							<td><a class="btn btn-xs add-def btn-default">设为默认</a></td>
						</tr>
						<tr>
							<td>宿舍</td>
							<td>八戒4</td>
							<td>北京市海淀区永丰镇30号</td>
							<td>1380***1234</td>
							<td><a class="btn btn-xs btn-info"><span class="fa fa-edit"></span> 修改</a></td>
							<td><a class="btn btn-xs add-del btn-info"><span class="fa fa-trash-o"></span> 删除</a></td>
							<td><a class="btn btn-xs add-def btn-default">设为默认</a></td>
						</tr>
						</tbody>
					</table>
					<a href="addAddress" class="btn btn-sm btn-primary"><span class="fa fa-plus"></span>新增收货地址</a>
				</div>
			</div>
		</div>
	</div>
	<!--页脚开始-->
	<footer>
		<div class="text-center rights container">
			<div class="col-md-offset-2 col-md-2">
				<span class="fa fa-thumbs-o-up"></span>
				<p>品质保障</p>
			</div>
			<div class="col-md-2">
				<span class="fa fa-address-card-o"></span>
				<p>私人订制</p>
			</div>
			<div class="col-md-2">
				<span class="fa fa-graduation-cap"></span>
				<p>学生特供</p>
			</div>
			<div class="col-md-2">
				<span class="fa fa-bitcoin"></span>
				<p>专属特权</p>
			</div>
		</div>
	</footer>
	<div class="foot">
		<div style="height: 183px">
			<img src="imgs/foot.png">
		</div>
		<span class="foot-p">来冻梨二货，你的闲置能换钱！</span><br>
		<span class="foot-s">全校最大最活跃的闲置物品交换平台</span>
	</div>
	<address>
		Written by <a href="#">Liujian</a>.<br>
		Visit us at:<br>
		East China University<br>
		tel：151×××××××49
	</address>


	<script src="js/address.js"></script>
	</body>

</html>