<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>冻梨二货</title>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/js/cookie.js}"></script>
</head>
<body>
    <div class="nav_head">
        <a class="btn btn-link"  href="login" >登陆</a>
        <a class="btn btn-link"  href="register" >注册</a>
        <div class="nav dropdown nav1">
            <span style="width: 10px">|</span>
            <a class="btn btn-link"  href="user_center" >用户中心</a>
        </div>
        <div class="nav nav1">
            <a class="btn btn-link"  href="index" >首页</a>
            <span style="width: 10px">|</span>
            <a class="btn btn-link"  href="buyindex" >求购商城</a>
        </div>
    </div>
    <div class="title">
        <span class="title-logo">冻梨二货</span>
        <div class="second_title">
            <div class="find">
                <input type="text" class="form-control" id="search" >
                <a type="button" class="btn btn-warning" id="search-button" href="after_search.html" >
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <button type="button" class="btn btn-warning"><a href="release_goods.html">发布闲置</a></button>
            </div>
        </div>
    </div>
    <!-- 返回最上开始 -->
    <div class="back_to_top">
        <a href="#"><img src="imgs/index-backtop.png"></a>
    </div>
    <!-- 返回最上结束 -->
    <div class="new_nav">
        <div class="new_nav_in">
            <img src="imgs/book.png"/>
            <a class="btn btn-link" href="#f1">闲置书籍</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/numerical.png"/>
            <a class="btn btn-link" href="#f2">数码电子</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/clothes.png"/>
            <a class="btn btn-link" href="#f3">鞋服佩饰</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/daily.png"/>
            <a class="btn btn-link" href="#f4">日用物品</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/vehicle.png"/>
            <a class="btn btn-link" href="#f5">出行交通</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/other.png"/>
            <a class="btn btn-link" href="#f6">其他闲置</a>
        </div>
    </div>
    <div class="main_content">
        <div class="second_content_left nav-1" id="f1">
            <img src="imgs/book.png">
            <a href="#">闲置书籍</a>
            <a class="btn btn-link more_goods"  href="#" >更多</a>
            <div class="third_content">
                <div class="goods">
                    <img src="imgs/book/1.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a href="goos_details.html">特别的猫</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>25</span>
                    <p>
                        2007年诺贝尔文学奖得主多丽丝·莱辛一部非虚构类代表作《特别的猫》中文版，
                        多丽丝·莱辛是个爱猫成痴的作家，她在《特别的猫》里讲述了人与猫之间的动人故事，
                        细数曾经让她欢欣也让她忧愁的猫。在她笔下，猫的世界精彩纷呈。故事从莱辛在非洲的童年开始。
                        娇美的公主灰咪咪和低调的黑猫咪因为争宠上演了一出出情景剧；
                        同为猫妈妈，育儿之道却大相径庭，令观者莞尔；
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/book/2.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>活着，为了什么</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>48</span>
                    <p>
                        在2004年法国举行的最受喜爱女性评选活动中，出人意料，法国人心中最受喜爱的女性，既不是美丽的苏菲·玛索，也不是法国宝贝朱丽叶·比诺什，而是已经95岁高龄的以马内利修女。
                        以马内利修女(Soeur Emmanuelle)原名玛德莲·桑刚，1908年出生在比利时首都布鲁塞尔，1928年正式宣誓成为修女。正如以马内利的名字一样，
                        以马内利修女一生践行着“神与我们同在”的上帝的旨意，几乎将毕生精力都献给了穷苦人士。
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/book/3.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>追风筝的人</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>20</span>
                    <p>
                        小说以第一人称的角度讲述了阿米尔的故事。
                        阿米尔生于1963年喀布尔的一个富人社区中的一个富裕家庭。
                        其父亲“爸爸”是普什图人，一名法官的儿子，成功的地毯商人。
                        阿米尔家的仆人阿里的儿子哈桑则出身哈扎拉人。
                        阿米尔和哈桑是好玩伴，哈桑是一个特别忠实，正直，一心只为阿米尔少爷着想的人，
                        两个人经常一起玩耍、游戏。阿米尔是出色的“风筝斗士”，
                        即善于用自己的风筝切断别人的风筝的线；哈桑也是杰出的“风筝追逐者”，
                        因为阿富汗斯坦的传统是线被切断而落下的风筝归追到它的人所有。
                    </p>
                </div>
            </div>
        </div>
        <div class="second_content_right nav-1" id="f2">
            <a class="btn btn-link more_goods"  href="#" >更多</a>
            <img src="imgs/numerical.png">
            <a href="#">数码电子</a>
            <div class="third_content">
                <div class="goods">
                    <img src="imgs/numerical/1.png" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>索尼FDR-AX60</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>15100</span>
                    <p>
                        中关村在线 济南行情）近日，
                        索尼HXR-NX100摄像机在济南经销商山东影视器材广电商场促销
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/numerical/2.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>JVC GZ-RY980</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>18200</span>
                    <p>
                        JVC GZ-RY980是一款具备五米防水、1.5米防摔、IPX5防尘以及-10°C防寒性能的四防高清摄像机。
                        这款摄像机可以拍摄1080P的高清影像，拥有60倍动态变焦能力，
                        在低照度下也能轻松拍摄，A.I.S增强稳定器提供防抖支持。
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/numerical/3.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>GZ-RY775</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>25000</span>
                    <p>
                        四防一直是JVC旗下主力摄像机产品的一大特色，
                        优异的防护性能使得JVC摄像机可以在各种拍摄环境下使用起来更加让人放心。
                        而随着如今4KUHD规格的逐渐普及，JVC也应势推出了全新的4K四防摄像机GZ-RY775。
                    </p>
                </div>
            </div>
        </div>
        <div class="second_content_left nav-1" id="f3">
            <img src="imgs/clothes.png">
            <a href="#">鞋服佩饰</a>
            <a class="btn btn-link more_goods"  href="#.html" >更多</a>
            <div class="third_content">
                <div class="goods">
                    <img src="imgs/clothes/1.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>hefanxi</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>2500</span>
                    <p>
                        全蕾丝，有内衬，这个裙子在一家精品店意外发现的，真的是超华丽超美，
                        版型也很好，袖口丝带小心机可以绑成一个小蝴蝶结，细节处见精致。
                        不是超级软的那种蕾丝，这个比较有质感，这样的蕾丝比较饱满，可以保证版型。
                        颜色也很少见，我个人定义为粉杏色，就是很春夏的颜色没错了。
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/clothes/2.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>NEWFOUNDN</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>1800</span>
                    <p>
                        做内搭在风衣里面或者是单穿都可以，可以很甜美，也可以很女人。
                        蕾丝裙，女人衣柜必备。
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/clothes/3.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>ONE ONLY</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>1500</span>
                    <p>
                        春装款。俏皮刺绣圆领羊羔毛
                        不是超级软的那种蕾丝，这个比较有质感，这样的蕾丝比较饱满，可以保证版型。
                    </p>
                </div>
            </div>
        </div>
        <div class="second_content_right nav-1" id="f4">
            <a class="btn btn-link more_goods"  href="#" >更多</a>
            <img src="imgs/daily.png">
            <a href="#">日用物品</a>
            <div class="third_content">
                <div class="goods">
                    <img src="imgs/daily/1.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>木梳</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>25</span>
                    <p>
                        法国一个艺术家把一些日用品加上了萌萌的设计，看完简直要忘记物品原来的用途了。。
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/daily/2.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>陶碗</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>18</span>
                    <p>
                        汉代的烧陶工艺吸收了原始瓷器的器表着釉技术，并创制了以铜为呈色剂的低温铅釉陶器。
                        这种陶器的应用和推广，为我国后来各种不同颜色低温铅釉陶器的出现与发展奠定了基础。
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/daily/3.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>迷你灯</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>350</span>
                    <p>
                        小巧精致，方便携带。此电器主要放置在写字台或餐桌上，
                        以供照明之用。台灯的光亮照射范围相对比较小和集中.
                    </p>
                </div>
            </div>
        </div>
        <div class="second_content_left nav-1" id="f5">
            <img src="imgs/vehicle.png">
            <a href="#">出行交通</a>
            <a class="btn btn-link more_goods"  href="#" >更多</a>
            <div class="third_content">
                <div class="goods">
                    <img src="imgs/vehicle/1.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>永久山地车</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>2500</span>
                    <p>如果说日常骑行公路车是一个温柔的孩子，
                        那此款公路探险车，则是一个淘气冒险的少年，它给你带来的不仅仅是舒适的骑行体验，
                        更是让你在骑行中尽情领略奇妙的大自然世界带给你的美妙骑行感觉！
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/vehicle/2.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>桑浦山地车</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>1820</span>
                    <p>
                        魅惑的设计、创新的科技、完美的架构、盛名的威望、独一无二的拥有，
                        飞奔骑闯天路、勇闯川藏、穿越山径、碾轧碎石、穿梭泥泞、飞奔柏油，
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/vehicle/3.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>猛犸王山地车</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>850</span>
                    <p>名字取自藏文，涂装设计，
                        延续了骑闯天路限量版的涂装灵感西藏文化中“五彩经幡”的颜色，
                        整体色调灵感源自西藏三大圣湖，纳木措、玛旁雍措、羊卓雍措的色彩，
                        上管图案为串联起来的米拉山、
                        折多山、东达山的等高线地形图，三座圣山与三片圣湖的交相辉映，
                    </p>
                </div>
            </div>
        </div>
        <div class="second_content_right nav-1" id="f6">
            <a class="btn btn-link more_goods"  href="#" >更多</a>
            <img src="imgs/other.png">
            <a href="#">其他闲置</a>
            <div class="third_content">
                <div class="goods">
                    <img src="imgs/other/3.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>纸板材料</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>75</span>
                </div>
                <div class="goods">
                    <img src="imgs/other/2.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>布料</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>140</span>
                </div>
                <div class="goods">
                    <img src="imgs/other/1.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>手工纸</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>60</span>
                </div>
            </div>
        </div>
    </div>
    <!-- foot -->
    <div class="foot">
        <div style="height: 183px">
            <img src="imgs/foot.png">
        </div>
        <span class="foot-p">来冻梨二货，你的闲置能换钱！</span><br>
        <span class="foot-s">全校最大最活跃的闲置物品交换平台</span>
    </div>
    <address>
        Written by <a href="#">Liujian</a>.<br>
        Visit us at:<br>
        East China University<br>
        tel：151×××××××49
    </address>
</body>
</html>