<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>冻梨二货</title>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}"/>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/js/cookie.js}"></script>
</head>
<body>
    <div class="nav_head">
        <a class="btn btn-link"  href="login" >登陆</a>
        <a class="btn btn-link"  href="register" >注册</a>
        <div class="nav dropdown nav1">
            <span style="width: 10px">|</span>
            <a class="btn btn-link"  href="user_center" >用户中心</a>
        </div>
        <div class="nav nav1">
            <a class="btn btn-link"  href="index" >首页</a>
            <span style="width: 10px">|</span>
            <a class="btn btn-link"  href="buyindex" >求购商城</a>
        </div>
    </div>
    <div class="title">
        <span class="title-logo">冻梨二货</span>
        <div class="second_title">
            <div class="find">
                <input type="text" class="form-control" id="search" >
                <a type="button" class="btn btn-warning" id="search-button" href="after_search.html" >
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <button type="button" class="btn btn-warning"><a href="release_goods.html">发布闲置</a></button>
            </div>
        </div>
    </div>
    <!-- 返回最上开始 -->
    <div class="back_to_top">
        <a href="#"><img src="imgs/index-backtop.png"></a>
    </div>
    <!-- 返回最上结束 -->
    <div class="new_nav">
        <div class="new_nav_in">
            <img src="imgs/book.png"/>
            <a class="btn btn-link" href="#f1">闲置书籍</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/numerical.png"/>
            <a class="btn btn-link" href="#f2">数码电子</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/clothes.png"/>
            <a class="btn btn-link" href="#f3">鞋服佩饰</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/daily.png"/>
            <a class="btn btn-link" href="#f4">日用物品</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/vehicle.png"/>
            <a class="btn btn-link" href="#f5">出行交通</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/other.png"/>
            <a class="btn btn-link" href="#f6">其他闲置</a>
        </div>
    </div>
    <div class="main_content">
        <div class="second_content_right nav-1" id="f4">
            <a class="btn btn-link more_goods"  href="#" >更多</a>
            <img src="imgs/daily.png">
            <a href="#">日用物品</a>
            <div class="third_content">
                <div class="goods">
                    <img src="imgs/daily/1.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>木梳</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>25</span>
                    <p>
                        法国一个艺术家把一些日用品加上了萌萌的设计，看完简直要忘记物品原来的用途了。。
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/daily/2.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>陶碗</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>18</span>
                    <p>
                        汉代的烧陶工艺吸收了原始瓷器的器表着釉技术，并创制了以铜为呈色剂的低温铅釉陶器。
                        这种陶器的应用和推广，为我国后来各种不同颜色低温铅釉陶器的出现与发展奠定了基础。
                    </p>
                </div>
                <div class="goods">
                    <img src="imgs/daily/3.jpg" >
                </div>
                <div class="describe">
                    <img src="imgs/product/箭头.png" >
                    <a>迷你灯</a>
                    <img src="imgs/product/金钱2.png" class="rmb">
                    <span>350</span>
                    <p>
                        小巧精致，方便携带。此电器主要放置在写字台或餐桌上，
                        以供照明之用。台灯的光亮照射范围相对比较小和集中.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- foot -->
    <div class="foot">
        <div style="height: 183px">
            <img src="imgs/foot.png">
        </div>
        <span class="foot-p">来冻梨二货，你的闲置能换钱！</span><br>
        <span class="foot-s">全校最大最活跃的闲置物品交换平台</span>
    </div>
    <address>
        Written by <a href="#">Liujian</a>.<br>
        Visit us at:<br>
        East China University<br>
        tel：151×××××××49
    </address>

    <script src="js/numerical.js"></script>
</body>
</html>