<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>冻梨二货</title>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap/js/cookie.js}"></script>
</head>
<body>
    <div class="nav_head">
        <a class="btn btn-link" id="login" href="login" >登陆</a>
        <a class="avatar" href="user_center"><img src=""  id="avatar" class="avatar img-circle"></a>
        <a class="btn btn-link"  id="reg" href="register" >注册</a>
        <a class="btn btn-link"  id="userName" href="user_center" style="display: none"></a>
        <a class="btn btn-link"  id="exit" style="display: none">退出登录</a>
        <div class="nav dropdown nav1">
            <span style="width: 10px">|</span>
            <a class="btn btn-link"  href="user_center" >用户中心</a>
        </div>
        <div class="nav nav1">
            <a class="btn btn-link"  href="index" >首页</a>
        </div>
    </div>
    <div class="title">
        <span class="title-logo">冻梨二货</span>
        <div class="second_title">
            <div class="find">
                <input type="text" class="form-control" id="search" >
                <a type="button" class="btn btn-warning" id="search-button" >
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <button type="button" class="btn btn-warning"><a href="release_goods.html">发布闲置</a></button>
            </div>
        </div>
    </div>
    <!-- 返回最上开始 -->
    <div class="back_to_top">
        <a href="#"><img src="imgs/index-backtop.png"></a>
    </div>
    <!-- 返回最上结束 -->
    <div class="new_nav">
        <div class="new_nav_in">
            <img src="imgs/book.png"/>
            <a class="btn btn-link" href="book">闲置书籍</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/numerical.png"/>
            <a class="btn btn-link" href="numerical">数码电子</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/clothes.png"/>
            <a class="btn btn-link" href="clothes">鞋服佩饰</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/daily.png"/>
            <a class="btn btn-link" href="daily">日用物品</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/vehicle.png"/>
            <a class="btn btn-link" href="vehicle">出行交通</a>
        </div>
        <div class="new_nav_in">
            <img src="imgs/other.png"/>
            <a class="btn btn-link" href="other">其他闲置</a>
        </div>
    </div>
    <div class="main_content">
        <div class="second_content_left nav-1" id="f5">
            <img src="imgs/vehicle.png">
            <a href="#">出行交通</a>
            <a class="btn btn-link more_goods"  href="#" >更多</a>
            <div class="third_content" id="f1Content">
            </div>
            <div class="third_content" id="f2Content" style="display: none">
            </div>
            <div class="third_content" id="f3Content" style="display: none">
            </div>
            <div class="third_content" id="f4Content" style="display: none">
            </div>
            <div class="third_content" id="f5Content" style="display: none">
            </div>
            <div>
                <div id="showAllBookFenyeDiv" style="margin-right:20px;">
                    <ul id="showAllBookFenye" class="am-pagination am-fr">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- foot -->
    <div class="foot">
        <div style="height: 183px">
            <img src="imgs/foot.png">
        </div>
        <span class="foot-p">来冻梨二货，你的闲置能换钱！</span><br>
        <span class="foot-s">全校最大最活跃的闲置物品交换平台</span>
    </div>
    <address>
        Written by <a href="#">Liujian</a>.<br>
        Visit us at:<br>
        East China University<br>
        tel：151×××××××49
    </address>

    <script src="js/vehicle.js"></script>
</body>
</html>